<div class="d-flex justify-content-center m-5">
    <h1>You Dojodachi has passed away</h1>
    <a type="button" class="btn btn-primary mr-3" asp-controller="Home" asp-action="Index">Restart</a>
</div>